.authentication {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    color: white;
}

.auth_left {
    flex: 0.5;
    margin-left: 231px;
}

.auth_right {
    flex: 0.5 1;
    margin-top: -138px;
    margin-right: 215px;
}

.auth_left>img {
    width: 410px;
    margin-top: 21px;
}